@use "lib/splash";

.splash {
	.content {
	  margin-bottom: 3rem;
	}
	.svg {
		height: 6rem;
	}
}

.upcoming-events .flex {

	padding-inline: 1.6rem;
	gap: 4.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-block: 2rem;

	a {
		width: 100%;
		text-align: center;
		margin-top: 1.3rem;
	}

	h3 {
		line-height: 1.2;
		max-width: 22rem;
		font-size: calc(var(--font-size-xl) - 2px);
		margin-bottom: 1.2rem;
	}

	.event {
		cursor: pointer;
		transition: 300ms all ease;
		border-radius: 1rem;
		background: #fff;
		padding: 2.5rem;
		box-shadow: 0 0 7px #a8a8a899;
		max-width: 90vw;
		text-wrap: balance;

		p {
			font-size: 1.065rem;
		}
		&:hover {
			transition: 400ms all cubic-bezier(.58,.19,.26,.81);
			scale: 0.98;
		}
	}

	img {
		max-width: min(34rem, 84vw);
		border-radius: 19px;
	}

}

section:last-child {
	padding-bottom: 0 !important;
}

@media (max-width: 550px) {
	.flex {
	  gap: 2.5rem;
	}
}

@media (max-width: 855px) {
	.upcoming-events .flex {
		.event {
			order: 2;
		}
	}
}